@charset "UTF-8";
/*
-переменные для обозначения ширины верстки: мобилка, таблет, десктоп
-
*/
.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.advantages__description-list {
  list-style-type: none;
  padding: 23px 18px 52px;
  margin: 0;
}

.advantages__item:first-child::before {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/decorative-elements-welcome/intro-triangle-top.svg");
  width: 320px;
  height: 58px;
  background-repeat: no-repeat;
  background-color: #ffffff00;
  top: -11px;
  left: 0;
}

.advantages__item--colored-dark {
  background-color: #81b3d3;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 16px;
}

.button--colored {
  background-color: #81b3d3;
  width: 282px;
  height: 58px;
  box-sizing: border-box;
  border: none;
  text-align: center;
}

.button--modal-error {
  width: 180px;
  height: 58px;
  display: block;
  margin: 0 auto;
}

.button--modal-submitted,
.button--modal-error {
  font-size: 18px;
}

.card {
  margin: 0;
}

.card__caption {
  margin: 15px 0 10px;
}

.card__title {
  display: block;
  font-weight: 700;
}

.card__author {
  display: block;
  text-transform: none;
}

.catalog-card {
  padding: 24px 20px;
  position: relative;
}

.catalog-card::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  top: 0;
  left: 0;
}

.content {
  padding: 40px 19px 40px;
  text-align: center;
}

.content__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.content__text {
  margin: 0;
  padding: 0;
}

.content--whith-photo {
  color: #ffffff;
  padding: 45px 16px 38px;
}

/*.content--whith-photo:first-of-type {
  color: $background-color-primary;
  padding: 57px 18px 40px;
}*/
.content--colored:not(:last-child) {
  background-color: #eeeeee;
  padding: 24px 19px 0;
}

.content__text--underlined {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 24px;
}

.content--colored:last-child {
  background-color: #eeeeee;
  padding: 24px 19px 24px;
}

.copyright {
  text-align: center;
}

.copyright__link {
  color: #000000;
  text-decoration: none;
}

.copyright__text {
  vertical-align: middle;
  margin-right: 16px;
}

.copyright__logo {
  vertical-align: middle;
}

.description-list {
  background-color: #ffffff;
}

.description-list__item {
  padding: 8px 5px 0 47px;
}

.description-list__title {
  margin: 0;
  margin-bottom: 16px;
}

.description-list__text {
  margin: 0;
}

.main__welcome-block {
  background-image: url("../../img/decorative/welcome-background-mountains/back-mobile.jpg");
  background-color: #81b3d3;
  width: 320px;
  height: 390px;
  background-repeat: no-repeat;
  padding: 90px 19px 85px;
  box-sizing: border-box;
  position: relative;
}
.main__welcome-block--small {
  height: 158px;
  background-position: bottom;
}

.main__welcome-img {
  max-width: 100%;
  object-fit: contain;
}

.main__welcome-block::after {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/decorative-elements-welcome/intro-triangle-bottom.svg");
  width: 320px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: bottom;
  top: 332px;
  left: 0;
  background-color: #ffffff00;
}

.main__welcome-block--small::before {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/SEDONA.svg");
  width: 320px;
  height: 58px;
  background-repeat: no-repeat;
  top: 68px;
  left: 46px;
  background-color: #ffffff00;
}

.main__welcome-block--small::after {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/decorative-elements-welcome/intro-triangle-bottom.svg");
  width: 320px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: bottom;
  top: 118px;
  left: 0;
  background-color: #ffffff00;
}

.main__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
}

.modal-container--error {
  padding: 44px 42px 34px;
}

.modal-container__button-wrapper {
  background-color: #f2f2f2;
  padding: 20px;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.form-wrapper {
  padding: 24px 20px 39px;
  margin: 0;
}

.form__container {
  border: none;
  position: relative;
  margin-top: 24px;
}

.form__container::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  top: -54px;
  left: 0;
}

.form__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.form__label {
  display: block;
  margin-left: 16px;
}

.form__input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__input--contacts {
  color: rgba(0, 0, 0, 0.3);
}

.form__input:not(:last-child),
.form__label-controls:not(:last-child) {
  margin-bottom: 16px;
}

.form__input-controls {
  position: relative;
  margin: 0;
  margin-right: 16px;
  width: 44px;
  height: 44px;
}

.form__label-controls {
  display: flex;
  align-items: center;
  text-transform: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__input-controls[type=radio]:checked + .form__control-mark::before {
  content: "";
  background-color: #000000;
  width: 16px;
  height: 16px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  top: 14px;
  right: 14px;
}

.form__button {
  display: block;
  margin: 0 auto;
  text-transform: inherit;
}

.form__comment {
  display: block;
  font-size: 12px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  text-align: end;
  margin-right: 20px;
}

.form__control-mark--checkbox {
  border-radius: 4px;
}

.form__input--textarea {
  width: 280px;
  height: 150px;
  font-family: inherit;
}

.general-footer {
  padding: 28px 82px;
}

.general-footer__tag {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.general-footer__list-wrapper {
  margin: 34px 0 47px;
}

.general-header {
  position: relative;
  min-height: 56px;
  display: flex;
  justify-content: end;
}

.toggle {
  background-image: url("../../img/content/icon-menu.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
}

.general-header__toggle {
  margin: 16px;
}

.general-header__logo-image {
  position: absolute;
  top: 0;
  left: 67px;
  z-index: 1;
}

.general-header__nav {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

.hero {
  position: relative;
  padding: 32px 19px 24px;
}

.hero__title {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.hero__text {
  margin: 0;
  text-align: center;
}

.hero--intersted {
  padding: 38px 18px 32px;
}

.hero__title--intersted {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 30px;
}

.hero--modal-error {
  padding: 0;
  margin-bottom: 28px;
}

.hero--modal-submitted {
  padding: 38px;
}

.input-container {
  box-sizing: border-box;
  padding: 16px;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  box-sizing: border-box;
  width: 100%;
  max-height: 55px;
  text-align: center;
  padding: 14px 0;
  background-color: #81b3d3;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.navigation__link {
  text-decoration: none;
  vertical-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
}

.navigation__list--opened {
  display: block;
}

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  height: 100%;
  max-width: 320px;
  margin: 0;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 6px;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d3;
}

.social__link {
  display: block;
  text-align: center;
  vertical-align: middle;
}

.icon-wrapper {
  padding: 11px;
}

.social__icon {
  fill: #ffffff;
}

.video-card {
  padding: 0;
}

.video {
  margin: 0 auto;
}

.video__image {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */