.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;

  counter-reset: advantages;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__description-list {
  list-style-type: none;
  padding: 23px 18px 52px;
  margin: 0;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @include desktop {
    padding: 0 0 20px;
  }
}

.advantages__image {
  display: block;

  @include tablet {
    width: 100%;
    object-fit: cover;
    min-height: 102%;
  }
}

.advantages__item:first-child::before {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/decorative-elements-welcome/intro-triangle-top.svg");
  width: 320px;
  height: 58px;
  background-repeat: no-repeat;
  background-color: $icons-background-color;
  top: -11px;
  left: 0;

  @media screen and (min-width: 321px) {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.advantages__item--colored-dark {
  background-color: $background-color-secondary;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / -1;
  }
}

.advantages__item--reverse {
  @include tablet {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}

.advantages__item-wrapper {
  @include tablet {
    display: flex;
  }

  @include desktop {
    width: 100%;
  }
}
