.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: $text-color-lighten;
  text-transform: uppercase;
  padding: 16px;
}

.button--colored {
  background-color: $background-color-secondary;
  max-width: 282px;
  box-sizing: border-box;
  border: none;
  text-align: center;

  @include tablet {
    min-width: 458px;
  }
}

.button--modal-error {
  width: 180px;
  height: 58px;
}

.button--modal-submitted,
.button--modal-error {
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.button--modal-submitted {
  min-width: 282px;
}
