.card {
  margin: 0;
}

.card__caption {
  margin-bottom: 10px;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__title {
  display: block;
  font-weight: 700;
}

.card__author {
  display: block;
  text-transform: none;
}

.card__like-icon {
  @include tablet {
    display: block;
  }
}

.card__like {
  @include tablet {
    display: block;
  }
}

.card__likes {
  font-weight: 700;

  @include tablet {
    display: flex;
    justify-content: space-between;
    min-width: 60px;
    align-items: center;
    gap: 8px;
  }
}

.card__caption-block {
  padding-top: 15px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: $inputs-background-color;
  }
}
