.card {
  margin: 0;

  @include desktop {
    position: relative;
  }
}

.card__caption {
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 0;
  }
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;

  @include tablet {
    max-height: 268px;
  }
}

.card__image:first-of-type {
  @include tablet {
    max-height: 400px;
    height: 100%;
  }
}

.card__title {
  display: block;
  font-weight: 700;
}

.card__author {
  display: block;
  text-transform: none;
}

.card__like {
  border: none;
  background-color: transparent;
  padding: 0;

  @include tablet {
    display: block;
  }
}

.card__like-numb {
  @include tablet {
    display: block;
  }
}

.card__likes {
  font-weight: 700;
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 11px;

  @include tablet {
    min-width: 60px;
    gap: 8px;
    align-items: start;
    margin: 7px -4px 0 0;
  }
}

.card__like-icon {
  width: 23px;
  height: 21px;
  opacity: 0.3;

  @include desktop {
    fill: $text-color-lighten;
    opacity: 1;
  }
}

.card__caption-block {
  padding-top: 15px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 16px;
    background-color: $inputs-background-color;
  }

  @include desktop {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $opacity-primary-color;
    color: $text-color-lighten;
  }
}
