.card {
  margin: 0;

  @include desktop {
    position: relative;
  }
}

.card__caption {
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 0;
  }
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;

  @include tablet {
    max-height: 268px;
  }
}

.card__title {
  display: block;
  font-weight: 700;
}

.card__author {
  display: block;
  text-transform: none;
}

.card__like-icon {
  @include tablet {
    display: block;
  }
}

.card__like {
  @include tablet {
    display: block;
  }
}

.card__likes {
  font-weight: 700;

  @include tablet {
    display: flex;
    justify-content: space-between;
    min-width: 60px;
    align-items: center;
    gap: 8px;
  }
}

.card__caption-block {
  padding-top: 15px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: $inputs-background-color;
  }

  @include desktop {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $opacity-primary-color;
    color: $text-color-lighten;
  }
}
