.container {
  height: 100vh;
  min-width: 100%;
  max-width: 320px;
  background-color: $background-color-primary;

  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
