.content {
  padding: 40px 19px 40px;
  text-align: center;
}

.content__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;

  @include tablet {
    margin-bottom: 58px;
    font-size: 21px;
  }

  @include desktop {
    max-width: 212px;
    margin: 0 28px 58px;
  }

  &::after {
    display: block;
    font-size: 14px;
    line-height: inherit;
    margin-top: 11px;
    position: absolute;
    font-weight: 400;
    counter-increment: advantages;
    content: "— №"counters(advantages, ".") " —";
    left: 49%;
    transform: translateX(-50%);
  }
}

.content__title--colored {
  &::after {
    color: $text-color-lighten;
  }
}

.content__text {
  margin: 0;
  padding: 0;
  margin-left: -5px;
}

.content--whith-photo {
  color: $background-color-primary;
  padding: 40px 16px 33px;

  @include tablet {
    width: 34%;
    padding: 42px 54px 43px;
  }

  @include desktop {
    padding: 51px 74px 56px;
  }
}

.content--colored:not(:last-child) {
  background-color: $items-background-color;
  padding: 24px 19px 0;

  @include tablet {
    padding: 40px 40px 35px;
  }

  @include desktop {
    padding: 44px 44px 32px;
  }
}

.content__text--underlined {
  border-bottom: 1px solid #d6d6d6;
  padding: 0 0 25px 0;

  @include tablet {
    border-bottom: none;
  }
}

.content__text--position {
  @include tablet {
    padding: 0 12px;
  }
}

.content--colored:last-child {
  background-color: $items-background-color;
  padding: 24px 19px 24px;

  @include tablet {
    padding: 40px 34px 63px;
  }
}

.content--index-paddings {
  padding: 63px 20px 40px;

  @include tablet {
    padding: 39px 20px 40px;
  }

  @include desktop {
    padding: 48px 66px 40px;
  }
}
