.copyright__link {
  color: $text-color-primary;
  text-decoration: none;
}

.copyright__text {
  vertical-align: middle;
  margin-right:  16px;
}

.copyright__logo {
  vertical-align: middle;
}
 /*
        <div class="general-footer__copyright copyright">
          <a class="copyright__link" href="">
            <span class="copyright__text">Разработано</span>
            <img class="copyright__logo"*/
