.copyright {
  text-align: center;
}

.copyright__link {
  color: $text-color-primary;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  vertical-align: middle;
  margin-right: 16px;
}

.copyright__logo {
  vertical-align: middle;
  width: 27px;
  height: 35px;
}
