.copyright {
  text-align: center;
}

.copyright__link {
  color: $text-color-primary;
  text-decoration: none;
}

.copyright__text {
  vertical-align: middle;
  margin-right: 16px;
}

.copyright__logo {
  vertical-align: middle;
}
