.description-list {
  background-color: $background-color-primary;
}

.description-list__item {
  padding: 8px 5px 0 47px;
  position: relative;
  margin-bottom: 22px;

  @include tablet {
    box-sizing: border-box;
    width: 33%;
    padding: 156px 36px 58px;
  }
}

.description-list__item:last-child {
  margin-bottom: 0;
}

.description-list__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;

  @include tablet {
    text-align: center;
    font-size: 21px;
  }
}

.description-list__text {
  margin: 0;

  @include tablet {
    text-align: center;
  }
}

.description-list__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  left: 0;
  top: 15%;
  transform: translateY(-50%);
  background-position: center;

  @include tablet {
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.description-list__item--living::before {
  background-image: url("../img/decorative/icon-house.svg");


  @include tablet {
    background-image: url("../img/decorative/icon-house-big.svg");
    width: 75px;
    height: 72px;
  }
}

.description-list__item--food::before {
  background-image: url("../img/decorative/icon-food.svg");

  @include tablet {
    background-image: url("../img/decorative/icon-food-big.svg");
    width: 76px;
    height: 68px;
  }
}

.description-list__item--gifts::before {
  background-image: url("../img/decorative/icon-gift.svg");

  @include tablet {
    background-image: url("../img/decorative/icon-gift-big.svg");
    width: 64px;
    height: 75px;
  }
}
