.form {
  border-top: 1px $lines-background-color solid;

  @include tablet {
    border-top: none;
    padding: 0 60px;
  }
}

.form-wrapper {
  padding: 24px 20px 39px;
  margin: 0;

  @include tablet {
    padding: 0;
    padding-bottom: 48px;
  }
}

.form__container {
  border: none;
  position: relative;
  border-bottom: 1px $lines-background-color solid;

  @include tablet {
    border-bottom: none;
    border-top: 1px $lines-background-color solid;
    flex: 1;
  }
}

.form__row {
  @include tablet {
    display: flex;
    justify-content: space-between;
    gap: 88px;
    position: relative;
  }
}

.form__row::before {
  @include tablet {
    content: "";
    background-color: #DBDBDB;
    position: absolute;
    left: 50%;
    height: 95%;
    width: 1px;
  }
}

.form__container:last-of-type {
  border-bottom: none;
}

.form__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 24px;

  @include tablet {
    padding-top: 0;
    margin-bottom: 28px;
    width: 100%;
    max-width: 400px;

    font-size: 21px;
  }
}

.form__title-wrapper {
  @include tablet {
    display: inline-block;
    max-width: 310px;
  }
}

.form__feedback-content {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__label {
  display: block;
  margin-left: 16px;
}

.form__input {
  width: 100%;
  height: 58px;
  background-color: $inputs-background-color;
  border: none;

  @include form-text;
}

.form__input:not(:last-child),
.form__label-controls:not(:last-child) {
  margin-bottom: 16px;
}

.form__input-controls {
  position: relative;
  margin: 0;
  margin-right: 16px;
  width: 44px;
  height: 44px;

  @include tablet {
    appearance: none;
  }
}

.form__label-controls {
  display: flex;
  align-items: center;
  text-transform: none;
  border: none;

  @include form-text;

  @include tablet {
    margin-right: 16px;
    min-width: 224px;
  }
}

.form__label-checkbox {
  @include tablet {
    margin-left: 32px;
  }
}

.form__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: $inputs-background-color;
  border-radius: 50%;
}

.form__input-controls[type="radio"]:checked + .form__control-mark::before {
  content: "";
  background-color: $text-color-primary;
  width: 16px;
  height: 16px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  top: 14px;
  right: 14px;
}

.form__button {
  display: block;
  margin: 0 auto;
  text-transform: inherit;

  @include tablet {
    min-width: 324px;
    margin: 0;
  }
}

.form__comment {
  display: block;
  font-size: 12px;
  line-height: 21px;
  color: $opacity-primary-color;
  text-align: end;
  margin-right: 20px;
}

.form__control-mark--checkbox {
  border-radius: 4px;
}

.form__input--textarea {
  width: 100%;
  height: 150px;
  font-family: inherit;
}

.form__input::placeholder {
  color: $opacity-primary-color;
}

.form__input--initials::placeholder {
  color: $text-color-primary;
}

.form__button-block {
  @include tablet {
    display: flex ;
    justify-content: space-between;
  }
}

/*.form__container--radio {
  @include tablet {
    margin: 0 96px;
  }
}

.form__container--checkbox {
  @include tablet {
    margin: 0 144px;
  }
}*/
