.form {
  border-top: 1px $lines-background-color solid;

  @include tablet {
    border-top: none;
    padding: 0 60px;
  }

  @include desktop {
    padding: 0 120px 24px;
  }
}

.form__container {
  border: none;
  position: relative;
  border-bottom: 1px $lines-background-color solid;

  @include tablet {
    border-bottom: none;
    border-top: 1px $lines-background-color solid;
    flex: 1;
  }
}

.form__row {
  @include tablet {
    display: flex;
    justify-content: space-between;
    gap: 84px;
    position: relative;
  }

  @include desktop {
    margin-bottom: 8px;
  }
}

.form__row::before {
  @include tablet {
    content: "";
    background-color: #dbdbdb;
    position: absolute;
    left: 50%;
    height: 90%;
    width: 1px;
  }
}

.form__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 24px;

  @include tablet {
    padding-top: 0;
    margin-bottom: 28px;
    width: 100%;
    max-width: 400px;
    font-size: 21px;
  }
}

.form__title-wrapper {
  @include tablet {
    display: inline-block;
    max-width: 310px;
  }
}

.form__feedback-content {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 16px;
    /*margin-bottom: 56px;*/
  }
}

.form__label {
  display: block;
  margin-left: 16px;
}

.form__input {
  width: 100%;
  height: 58px;
  background-color: $inputs-background-color;
  border: $inputs-background-color 4px solid;

  @include form-text;

  &:hover {
    background-color: $lines-background-color;
    border: $lines-background-color 4px solid;
  }

  &:active {
    background-color: $background-color-primary;
    border: #e5e5e5 4px solid;
  }

  &:focus-visible {
    background-color: $background-color-primary;
    border: #e5e5e5 4px solid;
    outline: none;
  }
}

.form__input:not(:last-child),
.form__label-controls:not(:last-child) {
  margin-bottom: 16px;
}

.form__input-controls {
  position: relative;
  margin: 0;
  margin-right: 16px;
  width: 44px;
  height: 44px;

  @include tablet {
    appearance: none;
  }
}

.form__label-controls {
  display: flex;
  align-items: center;
  text-transform: none;
  border: none;

  @include form-text;

  @include tablet {
    margin-right: 16px;
    min-width: 224px;

    &--radio {
      margin-right: 50px;
    }
  }
}

.form__label-checkbox {
  @include tablet {
    margin-left: 32px;
  }

  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
}

.form__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: $inputs-background-color;
  border-radius: 50%;

  &:hover {
    background-color: $lines-background-color;
  }

  &:active {
    background-color: $background-color-radio-active;
  }
}

.form__input-controls[type="radio"]:checked + .form__control-mark::before {
  content: "";
  background-color: $text-color-primary;
  width: 16px;
  height: 16px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.form__input-controls[type="checkbox"]:checked + .form__control-mark::before {
  content: "";
  background-image: url("../img/decorative/tick-icon.svg");
  width: 24px;
  height: 18px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.form__button {
  display: block;
  margin: 0 20px;
  text-transform: inherit;
  max-width: 280px;
  width: 100%;

  @include tablet {
    min-width: 324px;
    margin: 0;
  }
}

.form__comment {
  display: block;
  font-size: 12px;
  line-height: 21px;
  color: $opacity-primary-color;
  text-align: end;
  margin-right: 20px;

  @include tablet {
    margin-right: 3px;
  }
}

.form__label--phone {
  @include tablet {
    position: relative;
  }
}

.form__label--phone::after {
  @include tablet {
    content: "";
    position: absolute;
    display: block;
    background-color: $inputs-icon-background-color;
    background-image: url("../img/decorative/icon-phone.svg");
    width: 58px;
    height: 58px;
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
  }
}

.form__label--email {
  @include tablet {
    position: relative;
  }
}

.form__label--email::after {
  @include tablet {
    content: "";
    position: absolute;
    display: block;
    background-color: $inputs-icon-background-color;
    background-image: url("../img/decorative/icon-mail.svg");
    width: 58px;
    height: 58px;
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
  }
}

.form__control-mark--checkbox {
  border-radius: 4px;
}

.form__input--textarea {
  width: 100%;
  height: 150px;
  font-family: inherit;
}

.form__input::placeholder {
  color: $opacity-primary-color;
}

.form__input--initials::placeholder {
  color: $text-color-primary;
}

.form__button-block {
  margin-bottom: 24px;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.form__button-block--paddings {
  @include desktop {
    padding: 0 50px;
  }
}

.form__feedback-content--paddings {
  padding: 31px 0;
}

.form--radio {
  @include tablet {
    justify-content: start;
  }
}

.form__container--radio,
.form__container--checkbox {
  @include desktop {
    margin-bottom: 56px;
  }
}

.form__title--big {
  @include desktop {
    max-width: 450px;
  }
}


.form__input-controls[type="radio"]:checked + .form__control-mark::before:active {
    background-color: $opacity-secondary-color;
  }
