.general-header {
  position: relative;
  min-height: 56px;
}

.toggle {
  background-image: url(../); //не удаётся подключить изображение
  width: 24px;
  height: 22px;
  background-position: no-repeat;
  background-color: $background-color-primary;
}

.general-header__logo-image {
  position: absolute;
  top: 0;
  left: 67px;
}

.general-header__nav {
  position: absolute;
  width: 100%;
  top: 0;
  display: none;
}
