.hero {
  position: relative;
  padding: 35px 19px 24px;

  @include tablet {
    padding: 52px 0 55px;

    &--welcome {
      max-width: 520px;
      margin: 0 auto;
    }
  }

  @include desktop {
    padding: 61px 0px 46px;
  }
}

.hero--welcome::before {
  content: "";
  position: absolute;
  background-image: url("../img/decorative/intro-triangle-top.svg");
  width: 100%;
  height: 38px;
  background-repeat: no-repeat;
  background-position: bottom;
  bottom: -28px;
  left: 0;
  background-color: #ffffff00;
  z-index: 1;

  @include tablet {
    display: none;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @include tablet {
    font-size: 21px;
    margin-bottom: 28px;

    &--catalog {
      font-size: 30px;
    }
  }
}

.hero__text {
  margin: 0;
  text-align: center;

  @include tablet {
    margin-bottom: 0;

    &--photo {
      max-width: 446px;
      margin: 0 auto;
    }

    &--catalog {
      max-width: 446px;
      margin: 0 auto;
    }

    &--submit {
      max-width: 420px;
      margin: 0 auto;
    }
  }
}

.hero--intersted {
  padding: 38px 18px 32px;

  @include tablet {
    padding: 60px 166px 40px;
  }

  @include desktop {
    padding: 60px 166px 44px;
  }
}

.hero__title--intersted {
  font-size: 21px;
  margin-bottom: 22px;

  @include tablet {
    font-size: 30px;
    margin-bottom: 36px;
  }
}

.hero__text--intersted {
  @include desktop {
    width: 434px;
    margin: 0 auto;
  }
}

.hero--modal-error {
  padding: 0;
  margin-bottom: 28px;

  @include tablet {
    margin-bottom: 47px;
  }
}

.hero--modal-submitted {
  padding: 41px;

  @include tablet {
    padding: 45px 98px 49px;
  }
}

.hero--form {
  @include tablet {
    padding: 67px 166px 107px;
  }

  @include desktop {
    padding: 115px 382px 70px;
  }
}

.hero--catalog {
  @include tablet {
    padding: 66px 155px 66px;
  }

  @include desktop {
    padding: 100px 370px 66px;
  }
}

.hero__title--big {
  @include tablet {
    font-size: 30px;
    margin-bottom: 20px;
  }

  @include desktop{
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.hero__title--modal {
  @include tablet {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }
}
