.location {
  background-image: url(../img/content/map-mobile.png);
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;

  @include tablet {
    background-image: url(../img/content/map-tablet.png);
  }

  @include desktop {
    background-image: url(../img/content/map-desktop.png);
  }
}

.location__image {
  display: block;
  width: 100%;
  border: none;
}
