.main__welcome-block {
  background-image: url("../../img/decorative/back-desktop.jpg");
  background-color: $background-color-secondary;
  height: 390px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 19px 85px;
  box-sizing: border-box;
  position: relative;

  &--small {
    height: 158px;
    background-position: bottom;

    @include tablet {
      height: 214px;
    }
  }
}

.main__welcome-img {
  max-width: 100%;
  object-fit: contain;
}

.main__welcome-block::after {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/decorative-elements-welcome/welcome-bottom-big-.svg");
  width: 100%;
  height: 58px;
  background-repeat: no-repeat;
  background-position: bottom;
  top: 332px;
  left: 0;
  background-color: #ffffff00;
}

.main__welcome-block--small::before {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/SEDONA.svg");
  width: 320px;
  height: 58px;
  background-repeat: no-repeat;
  top: 68px;
  left: 46px;
  background-color: #ffffff00;
}

.main__welcome-block--small::after {
  content: "";
  position: absolute;
  background-image: url("../../img/decorative/decorative-elements-welcome/welcome-bottom-big-.svg");
  width: 100%;
  height: 58px;
  background-repeat: no-repeat;
  background-position: bottom;
  top: 118px;
  left: 0;
  background-color: #ffffff00;

  @include tablet {
    top: 156px;
  }
}

.main__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
}
