.modal-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 117px;
  max-width: 320px;
}

.modal-container--error {
  padding: 44px 42px 34px;

  @include tablet {
    max-width: 400px;
    padding: 46px 46px 48px;
    margin-top: 284px;
  }

  @include tablet {
    margin-top: 245px;
  }
}

.modal-container__button-wrapper {
  background-color: $inputs-background-color;
  padding: 31px 0 17px 0;

  @include tablet {
    padding: 44px 90px;
  }
}

.modal-container--submitted {
  margin-top: 400px;

  @include tablet {
    margin-top: 162px;
    max-width: 640px;
  }

  @include desktop {
    margin-top: 144px;
  }
}
