.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include tablet {
    flex-wrap: wrap;
    align-items: center;
  }
}

.navigation__item {
  width: 100%;
  max-height: 55px;
  text-align: center;
  padding: 19px 50px;
  background-color: $background-color-secondary;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: $background-color-hover;
  }

  &:active {
    background-color: $background-color-active;
  }

  &:active .navigation__link {
    color: $opacity-color-lighten;
  }

  @include tablet {
    max-width: 16%;
    background-color: $background-color-primary;
    box-shadow: none;
    padding: 0;
    max-width: 152px;

    &:nth-child(4n+2) {
      margin-right: 153px;
    }

    &:hover {
      background-color: inherit;
    }

    &:hover .navigation__link {
      color: $background-color-secondary;
    }

    &:active {
      background-color: inherit;
    }

    &:active .navigation__link {
      color: $opacity-primary-color;
    }
  }

  @include desktop {
    max-width: 240px;

    &:nth-child(4n+2) {
      margin-right: 240px;
    }
  }
}

.navigation__link {
  text-decoration: none;
  color: $text-color-lighten;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  display: block;

  @include tablet {
    text-decoration: none;
    vertical-align: center;
    color: $text-color-primary;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;

    padding: 18px;
  }
}

.navigation__toggle {
  position: relative;
  background-color: inherit;
}


.navigation__list--closed {
  display: none;

  @include tablet {
    display: flex;
    row-gap: 35px;
  }

  @include desktop {
    //row-gap: 46px;
  }
}

.navigation__link--current {
  @include tablet {
    color: $text-current-page-color;
  }
}
