.page__body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $text-color-secondary;
  height: 100%;
  max-width: 320px;
  margin: 0;
  background-color: $background-color-primary;

  margin-left: auto;
  margin-right: auto;
}
