.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: $background-color-secondary;
}

.social__link {
  display: block;
  text-align: center;
}

.icon-wrapper {
  padding: 11px;
}

.social__icon {
  fill: $text-color-lighten;
}
