.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 7px;
  justify-content: center;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: $background-color-secondary;
}

.social__link {
  display: block;
  text-align: center;

  &:hover {
    background-color: $background-color-hover;
  }

  &:active {
    background-color: $background-color-active;
  }

  &:active .social__icon {
    background-color: $background-color-active;
    fill: $opacity-color-lighten;
  }
}

.icon-wrapper {
  padding: 11px;
  max-height: 48px;
}

.social__icon {
  fill: $text-color-lighten;
  width: 100%;
}
