.toggle {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin-right: 19px;

  &:hover .toggle__close {
    opacity: 0.6;
  }

  &:hover .toggle__open {
    opacity: 0.6;
  }

  &:active .toggle__close {
    opacity: 0.3;
  }

  &:active .toggle__open {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.toggle__open {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}

.toggle__close {
  width: 22px;
  height: 22px;
}

.toggle--position {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 24px;
}
