$text-color-primary: #000000;
$text-color-secondary: #333333;
$text-color-lighten: #FFFFFF;

$background-color-primary: #FFFFFF;
$background-color-secondary: #81B3D3;
$inputs-background-color: #EEEEEE;

$general-padding: yellow;
