$text-color-primary: #000000;
$text-color-secondary: #333333;
$text-color-lighten: #FFFFFF;

$background-color-primary: #FFFFFF;
$background-color-secondary: #81B3D3;
$lines-background-color: #E5E5E5;

$icons-background-color: #FFFFFF00;
$inputs-background-color: #F2F2F2;
$items-background-color: #EEEEEE;

$opacity-primary-color: rgba($text-color-primary, 30%);
$opacity-secondary-color: rgba($text-color-secondary, 30%);

/*
-переменные для обозначения ширины верстки: мобилка, таблет, десктоп
-
*/
