.video {
  margin: 0 auto;
  position: relative;
}

.video__image {
  display: block;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    width: 648px;
    height: 500px;
  }

  @include desktop {
    max-height: 500px;
    width: 800px;
    height: 500px;
  }
}

.video__toggle {
  position: absolute;
  width: 48px;
  height: 54px;
  cursor: pointer;
  top: 50%;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;


  @include tablet {
    padding: 0;
  }
}

.video__toggle-play {
  width: 48px;
  height: 54px;
}
