html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  @include visually-hidden;
}

br {
  display: none;

  @include tablet {
    display: block;
  }
}
