html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  @include visually-hidden;
}

.br-index {
  display: none;

  @include tablet {
    display: block;
  }
}

.br-gifts {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.br-title {
  display: none;

  @include desktop {
    display: block;
  }
}
