@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin form-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $text-color-primary;
}


@mixin tablet {
  @media screen and (min-width: $table-width){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width){
    @content;
  }
}
