$text-color-primary: #000000;
$text-color-secondary: #333333;
$text-color-lighten: #ffffff;
$text-current-page-color: #766357;

$background-color-primary: #ffffff;
$background-color-secondary: #81b3d3;
$background-color-hover: #669ec0;
$background-color-active: #5496bd;
$background-color-logo-active: #b3b3b3;
$background-color-radio-active: #d5d5d5;


$background-modal: #0000004d;
$lines-background-color: #e5e5e5;

$icons-background-color: #ffffff00;
$inputs-background-color: #f2f2f2;
$inputs-icon-background-color: #e6e6e6;

$items-background-color: #eeeeee;

$opacity-primary-color: rgba($text-color-primary, 30%);
$opacity-secondary-color: rgba($text-color-secondary, 30%);
$opacity-color-lighten: rgba($text-color-lighten, 30%);

$table-width: 768px;
$desktop-width: 1200px;
