$text-color-primary: #000000;
$text-color-secondary: #333333;
$text-color-lighten: #ffffff;

$background-color-primary: #ffffff;
$background-color-secondary: #81b3d3;
$lines-background-color: #e5e5e5;

$icons-background-color: #ffffff00;
$inputs-background-color: #f2f2f2;
$items-background-color: #eeeeee;

$opacity-primary-color: rgba($text-color-primary, 30%);
$opacity-secondary-color: rgba($text-color-secondary, 30%);


$table-width: 768px;
$desktop-width: 1200px;
